Resources:
  AWSEBLoadBalancer:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Properties:
      LoadBalancerAttributes:
        - Key: idle_timeout.timeout_seconds
          Value: '3600'
option_settings:
  aws:elasticbeanstalk:environment:process:default:
    Port: 3000
    Protocol: HTTP
  aws:elbv2:listener:80:
    Protocol: HTTP
    Rules:
      - Path: /socket.io
        Forward: default
  aws:elbv2:listener:443:
    Protocol: HTTPS
    Rules:
      - Path: /socket.io
        Forward: default